
<style>
.first-row {background-color: red; color: red}
.second-row {background-color: orange; color: orange}
.third-row {background-color: yellow; color: yellow}
.fourth-row {background-color: green; color: green}
.fifth-row {background-color: blue; color: blue}
.sixth-row {background-color: indigo; color: indigo}
.seventh-row {background-color: violet; color: violet}
</style>
<p class="first-row">
  Hello World
</p>
<p class="second-row">
  Hello World
</p>
<p class="third-row">
  Hello World
</p>
<p class="fourth-row">
  Hello World
</p>
<p class="fifth-row">
  Hello World
</p>
<p class="sixth-row">
  Hello World
</p>
<p class="seventh-row">
  Hello World
</p>
