<!doctype html>
<link rel="icon" type="image/ico" href="/favicon.ico" />
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Startup Sprint</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/Users/Sarah/.atom/code/labs/startup-sprint/public/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
<table>
  <colgroup>
    <col span="2" style="background-color:pink">

  </colgroup>
  <tr>
    <th>Today</th>
    <th>Tomorrow</th>

  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>

</table>
